*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 80%;
    margin: 0 auto;
}

.bar-login{
    width: 100%;
    padding: 5px 0;
    box-shadow: 0px 0px  5px #888;
}
.bar-login .btns{
    display: flex;
    justify-content: flex-end;
}
.bar-login .btns a{
    text-decoration: none;
    margin-right: 10px;
    color: #000;
}
.bar-login .btns a:hover{
    color: #0A83FC;
}
header h1{
    margin: 25px;
    font-size: 3.5em;
    color: #0A83FC;
}
header nav{
    display: flex;
    justify-content: center;
}
header nav ul{
    display: flex;
    justify-content: space-around;
}
header nav ul li{
    list-style: none;
}
header nav ul a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}
header nav ul a:hover{
    color: #0A83FC;
}
header nav ul{
    width: 75%;
}
header nav ul .search-content{
    position: relative;
}
header nav ul .search-content i{
    position: absolute;
    right: 10px;
    top: 5px;
}
header nav ul .search-content input{
    border: none;
    padding: 5px 5px;
    border-radius: 20px;
    border: 1px solid #0A83FC;
}

header .nav-bar ul {
    list-style:none;
    margin:0;
    padding:0;
}
   
header .nav-bar ul a {
    display:block;
    text-decoration:none;
    padding:10px;
    text-transform:uppercase;
    letter-spacing:1px;
}
   
header .nav-bar ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}
   
header .nav-bar ul ul {
 display:none;
 position:absolute;
 top:100%;
 left:0;
 width: 100%;
 background:rgba(0,0,0,.3);
 padding:0;
}

header .nav-bar ul ul li {
 float:none;
 width:150px
}

header .nav-bar ul ul a {
 line-height:120%;
 padding:10px 15px;
}

header .nav-bar ul li:hover > ul {
 display:block;
}
/*------------------------------------------------------------*/
.slider{
    background: rgb(109,6,15);
    background: linear-gradient(90deg, rgba(109,6,15,1) 0%, rgba(120,84,217,1) 78%);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider .imgcontent{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.slider .imgcontent figure{
    width: 200px;
    height: 300px;

}
.slider .imgcontent figure img{
    width: 100%;
    height: 100%;

}
#fondo1{
    width: 300px;
    height: 380px;
}
.slider i{
    font-size: 2.5em;
    color: white;
}
.maincontent{
    margin: 100px auto;
    display: grid;
    grid-row-gap: 50px;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.maincontent h2{
    text-align: center;
    margin-bottom:50px ;
    grid-column-start: 1;
    grid-column-end: 5;
  
}
.maincontent .card{
    border: 2px solid rgba(0,0,0, 0.2);
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.maincontent .card  a h3{
    color:#0A83FC;
}

.maincontent .card  a{
    text-decoration: none;
}

.maincontent .card  a h3:hover{
    opacity: .5;
}

.maincontent .card p:nth-child(4){
    color: #FF4858;
    font-weight: 700;
}

.maincontent .card figure{
    width: 150px;
    height: 200px;
}
.maincontent .card figure img{
    width: 100%;
    height: 100%;
}
.maincontent .card figure img:hover{
    opacity: .6;
    border: 2px solid #0A83FC ;
}

.information{
    clear: both;
    background-color: #0A83FC;
    padding: 70px 0px;
    height: 300px;
}
.information .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information .container>div{
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
    margin-left: 10%;

}
.information .container>div h3{
    
    font-size: 40px;
    font-weight: 300;

}
.information .container>div p{
    
    text-align: justify;

}
.information .container i {
    font-size: 200px;
    color: white;
    margin-right: 10%;
}
footer{
    width: 100%;
}
#map{
    
    width: 60%;
    height: 300px;
}
footer .contact{
    display: flex;
    
}
.redes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 20px;

    
}
.about{
  
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px  3px #888;
    padding: 30px;

    
}

.info{
    margin-left: 100px;
}
.integrantes{
    margin-right: 100px;
}
.target {
    margin-left: 80%;
}
footer .contact{
    
    margin-left: 10%;
    justify-content: flex-start;
  justify-content: flex-start;  
}
.information .info_cat {
    display: flex;
    color: white;

}
.information .info_cat div {
    margin-left: 80px;
    margin-right: 80px;

}
.information .info_cat div h3{
    font-size: 40px;

}
.information .info_cat figure {
    margin-right: 200px;

}
.information .info_cat figure img {
    width: 100px;
    height: 200px;
}
.information .info_cat figure img{
    width: 120px;
}
.maincontent1{
    width: 100%;
    display: flex;
    justify-content: initial;
    justify-content: initial;  
}
.maincontent1 .card{
    border: 2px solid rgba(0,0,0, 0.2);
    border: 2px solid rgba(0,0,0, 0.2);
    padding: 25px 30px;
    justify-content: start;

}
.maincontent1 .desc div{
    padding: 10px;
    border: none;
}
.maincontent1 .desc div input{
    background-color: rgb(139, 139, 253);
    color: blue;
    width: 20%;
    padding: 10px;
    border: none;
}


.target {
    margin-left: 80%;
}
.target i{
    margin-left: 20px;
}
.gener{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px  3px #888;
    padding: 30px;
}
#menu{
    width: 15%;
    background-color: rgb(179, 178, 178);

}
#menu input{
    background-color: rgb(179, 178, 178);

}
#menu h3{
    text-align: center;
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 15px 0px;
}
#menu input:hover{
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 8px 0px;
}
.barra{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: rgb(179, 178, 178);
}
.barra input{
    width: 50px;
    height: 50px;
    background-color: rgb(179, 178, 178);
    
}
.barra input:hover{
    background-color: rgb(37, 37, 37);
    color: white;
}







/***************index_admin**********************/
.fon{
    margin-bottom: 40%;
    background: rgb(240, 247, 255);
    border: rgb(255, 255, 255) solid;
    width: 300px;
    height: 400px;
    border-radius: 15%;
}
.fon:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
    }
.ajustar{
    margin-top: 2%;
}

.h3index{
    margin-top: 40%;
}






/*****************************************************/







































































































































/* parte Malla*/
.carro{

    width: 100%;
    height: auto;
    margin-top: 0px;
}
.carrito{
    margin-top: 160px;
    width: 100%;
    height: 50px;
    display: flex;
    box-shadow: 5px 0px  5px #888;
    
}
.carrito h3:nth-child(1){
   
    width: 600px;
}
.carrito h3{
    color:#0A83FC;
    padding-top: 12px;
    text-align: center;
    width: 250px;
  
}

.carrito2{
   
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px 20px;
    box-shadow: 0px 0px  4px #888;
}

.carrito2 figure{
    display: flex;
    width: 600px;
}
.carrito2 figure p{
    
    padding-top: 60px;
    text-align: center;
    height: 100%;
    width: 100%;
}
.carrito2 figure img{
    
    width: 120px;
    height: 160px;
}
.carrito2 p{
    padding-top: 12px;
    width: 235px;
    height: auto;
    padding-top: 50px;
    text-align: center;
    
}

.pago{
    padding-top: 20px;
    width: 100%;
    padding-left: 52%;
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
    float: right;
    box-shadow: 0px 0px  4px #888;
}
.calculapago{
    display: flex;
    color:#0A83FC;
}
.calculapago h3{
   
    width: 400px;
    color:#0A83FC;
}
.calculapago h2{
    
    width: 400px;
    color:#0A83FC;
    
}
.calculapago p{
    text-align: center;
    width: 200px;
    

}

#contenido{
    top: 0%;
    position: static;
    bottom:5%;
    padding-top: 40px;
    padding-bottom: 60px;
    align-items: center;
    margin-bottom: 30px;
    
    box-shadow: 0px 0px  4px #888;
   
}
#contenido h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}
form{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0,.2);
    padding: 10px 20px 30px;
    border-radius: 30px;
}
input, textarea{
    width: 100%;
    margin-bottom: 7px;
    padding: 5px;
    font-size: 17px;
    border: none;
    font-family: rale;
    border-radius: 5px;
    padding-bottom: 10px;
}
.ubicarIco{
    position: relative;
    text-align: center;
}
.ubicarIco i{
    position: absolute;
    padding: 7px;
}
.ubicarIco input{
    text-align: center;
}




