*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 80%;
    margin: 0 auto;
}

.bar-login{
    width: 100%;
    padding: 5px 0;
    box-shadow: 0px 0px  5px #888;
}
.bar-login .btns{
    display: flex;
    justify-content: flex-end;
}
.bar-login .btns a{
    text-decoration: none;
    margin-right: 10px;
    color: #000;
}
.bar-login .btns a:hover{
    color: #0A83FC;
}
header h1{
    margin: 25px;
    font-size: 3.5em;
    color: #0A83FC;
}
header nav{
    display: flex;
    justify-content: center;
}
header nav ul{
    display: flex;
    justify-content: space-around;
}
header nav ul li{
    list-style: none;
}
header nav ul a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}
header nav ul a:hover{
    color: #0A83FC;
}
header nav ul{
    width: 75%;
}
header nav ul .search-content{
    position: relative;
}
header nav ul .search-content i{
    position: absolute;
    right: 10px;
    top: 5px;
}
header nav ul .search-content input{
    border: none;
    padding: 5px 5px;
    border-radius: 20px;
    border: 1px solid #0A83FC;
}

header .nav-bar ul {
    list-style:none;
    margin:0;
    padding:0;
}
   
header .nav-bar ul a {
    display:block;
    text-decoration:none;
    padding:10px;
    text-transform:uppercase;
    letter-spacing:1px;
}
   
header .nav-bar ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}
   
header .nav-bar ul ul {
 display:none;
 position:absolute;
 top:100%;
 left:0;
 width: 100%;
 background:rgba(0,0,0,.3);
 padding:0;
}

header .nav-bar ul ul li {
 float:none;
 width:150px
}

header .nav-bar ul ul a {
 line-height:120%;
 padding:10px 15px;
}

header .nav-bar ul li:hover > ul {
 display:block;
}
/*------------------------------------------------------------*/

#fondo1{
    width: 300px;
    height: 380px;
}
.slider i{
    font-size: 2.5em;
    color: white;
}
.maincontent{
    margin: 100px auto;
    display: grid;
    grid-row-gap: 50px;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.maincontent h2{
    text-align: center;
    margin-bottom:50px ;
    grid-column-start: 1;
    grid-column-end: 5;
  
}
.maincontent .card{
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.maincontent .card  a h3{
    color:#0A83FC;
}

.maincontent .card  a{
    text-decoration: none;
}

.maincontent .card  a h3:hover{
    opacity: .5;
}

.maincontent .card p:nth-child(4){
    color: #FF4858;
    font-weight: 700;
}

.maincontent .card figure{
    width: 150px;
    height: 200px;
}
.maincontent .card figure img{
    width: 100%;
    height: 100%;
}
.maincontent .card figure img:hover{
    opacity: .6;
    border: 2px solid #0A83FC ;
}

.information{
    clear: both;
    background-color: #0A83FC;
    padding: 70px 0px;
    height: 300px;
}
.information .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information .container>div{
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
    margin-left: 10%;

}
.information .container>div h3{
    
    font-size: 40px;
    font-weight: 300;

}
.information .container>div p{
    
    text-align: justify;

}
.information .container i {
    font-size: 200px;
    color: white;
    margin-right: 10%;
}
footer{
    width: 100%;
}
footer i{
    font-size: 30px;
}
#map{
    
    width: 60%;
    height: 300px;
}
footer .contact{
    display: flex;
    
}
.redes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 20px;

    
}
.about{
  
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px  3px #888;
    padding: 30px;

    
}

.info{
    margin-left: 100px;
}
.integrantes{
    margin-right: 100px;
}
.target {
    margin-left: 80%;
}
footer .contact{
    
    margin-left: 10%;
    justify-content: flex-start;
  justify-content: flex-start;  
}
.information .info_cat {
    display: flex;
    color: white;

}
.information .info_cat div {
    margin-left: 80px;
    margin-right: 80px;

}
.information .info_cat div h3{
    font-size: 40px;

}
.information .info_cat figure {
    margin-right: 200px;

}
.information .info_cat figure img {
    width: 100px;
    height: 200px;
}
.information .info_cat figure img{
    width: 120px;
}
.maincontent1{
    width: 100%;
    display: flex;
    justify-content: initial;

}
.maincontent1 .card{
    border: 2px solid rgba(0,0,0, 0.2);
    border: 2px solid rgba(0,0,0, 0.2);
    padding: 25px 30px;
    justify-content: start;

}
.maincontent1 .desc div{
    padding: 10px;
    border: none;
}
.maincontent1 .desc div i:hover{
    color: yellow;

}
.va{
    color: red;
}
.maincontent1 .desc .agregar{
    margin-left: 10px;
    display: flex;
    background-color: rgb(175, 175, 255);
    color: blue;
    width: 23%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.maincontent1 .desc .agregar input{
    color: blue;
    width: 75%;
    height: 100%;
    border: none;
    justify-content: center;
    background-color: rgb(175, 175, 255);
    font-size: 15px;
    margin-right: 14px;
 
 

}
.maincontent1 .desc .agregar i{
    color: blue;
    width: 100%;
    border: none;
    margin-left: 5px;
    
}


.target {
    margin-left: 80%;
}
.target i{
    margin-left: 20px;
}
.gener{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px  3px #888;
    padding: 30px;
}
#menu-categorias{
    width: 15%;
    display: flex;
    flex-direction: column;
}
#menu-categorias h3{
    padding: 10px 0;
    text-align: center;
}
#menu-categorias .categoria-item{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    cursor: pointer;
}
#menu-categorias .categoria-item a,span{
    text-decoration: none;
    color: #0A83FC;
}


#menu-categorias .categoria-item:hover{
    background-color: #FF4858;
}

.barra{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: rgb(179, 178, 178);
}
.barra input{
    width: 50px;
    height: 50px;
    background-color: rgb(179, 178, 178);
    
}
.barra input:hover{
    background-color: rgb(37, 37, 37);
    color: white;
}
.maincontent2{
    display: flex;
    justify-content: space-between;
  
    width: 80%;
    padding: 50px;
  

}
.maincontent2 .divi{
    display: flex;
    width: 100%;
    
    height: 450px;
    
}

.maincontent2 .divi .imag{
    width: 60%;
    padding: 20px;
  
    

}
.maincontent2 .divi .imag figure{
   
    padding: 20px;
    width: 100%;
    height: 400px;
  
}
.maincontent2 .divi .imag figure img{
   
    width: 100%;
    height: 100%;
}
.maincontent2 .divi .informa{
    margin-left: 50px;
    margin-right: 30px;
    width: 100%;
  
}
.maincontent2 .divi .informa div h3{
    padding: 15px 0px 0px 0px;
}

.maincontent2 .divi .informa .ess {
    padding: 10px 0px;
}
.maincontent2 .divi .informa .ess .est{
    display: flex;
    padding: 5px 0px;
    
}
.maincontent2 .divi .informa .con{
    display: flex;
    background-color: blue;
    width: 40%;
    height: 30px;
    color: white;
    border-radius: 5px;
    
}
.maincontent2 .divi .informa .con input{
    display: flex;
    background-color: blue;
    width:80%;
    color: white;
    
}
.maincontent2 .divi .informa .con i{
    display: flex;
    background-color: blue;
    width:20%;
    color: white;
    margin-left: 10px;
    font-size: 20px;
    padding: 8px 0px;
}
.maincontent2 .divi .informa .com{
   padding: 15px 0px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    
    
}
.maincontent2 .divi .informa .com i{
    font-size: 40px;
    color: red;
    background-color: red;
 }

 .maincontent2 .divi .informa .com input{
    
    box-shadow: 0px 0px  3px #888;
    height: 100px;
    margin-top: 20px;
 }
 .descripcion .container{
   
     box-shadow: 0px 0px  3px #888;
     padding: 20px;
     width: 85%;
     background-color: rgb(223, 221, 221);
     
 }
 .comentarios .container {
 
    padding: 20px 0px;
    width: 85%;

 }

 .comentarios .container p{
 
    background-color: rgb(223, 221, 221);

 }
 .comentarios .container h3 {
 
    padding: 20px 0px;
    


 }
 .comentarios .container div{
    box-shadow: 0px 0px  3px #888;
    padding: 10px 20px;


 }
 





 






/***************index_admin**********************/
.fon{
    margin-bottom: 40%;
    background: rgb(240, 247, 255);
    border: rgb(255, 255, 255) solid;
    width: 300px;
    height: 400px;
    border-radius: 5%;
    text-align: center;
    
    
}
.fon:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
    
    }
.ajustar{
   
    margin-top: 2%;
    margin-left: 8%;
}

figure.fi{
    margin-top: 10%;
}

.xx {
    margin-top: 15%;
    text-decoration: none ;
    

}

img.h{
    
    width: 70%;
    height: 70%;
    text-align: center;
}
.estilo{
    text-decoration: none;
    font-family: cursive, 'Times New Roman', Times, serif;
}

.es{
    height: 400px;
}

h5#corr{
    margin-left: 30%;
    margin-bottom: 100px;

}


.formul{
    position: absolute;
   top: 50em;
   right: 0;
   bottom: 40em;
   left: 50em;
   width: 70px;
   height: 20px;
   text-decoration-color: black;
}

.estilose{
    text-decoration-color: black;   
    text-decoration: none;
    
}




/*****************************************************/







































































































































/* parte Malla*/
.carro{

    width: 100%;
    height: auto;
    margin-top: 0px;
}
.carrito{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    display: flex;
    box-shadow: 5px 0px  5px #888;
    
}
.carrito h3:nth-child(1){
   
    width: 800px;
}
.carrito h3{
    color:#0A83FC;
    padding-top: 12px;
    text-align: center;
    width: 250px;
  
}

.carrito2{
   
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px 20px;
    box-shadow: 0px 0px  4px #888;
}

.carrito2 figure{
    display: flex;
    width: 780px;
}
.carrito2 figure p{
    
    padding-top: 60px;
    text-align: center;
    height: 100%;
    width: 100%;
}
.carrito2 figure img{
    
    width: 120px;
    height: 160px;
}
.carrito2 p{
    padding-top: 12px;
    width: 235px;
    height: auto;
    padding-top: 65px;
    text-align: center;
    
}
.carrito2 input{
    text-align: center;
    padding-top: 8px;
    width: 235px;
    height: auto;
    font-size: 25px;
    text-align: center;
    
}

.pago{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-end;
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
    box-shadow: 0px 0px  4px #888;
}
.pago input{
    color: white;
    font-weight: 900;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    width: 200px;
    width: 300px;
}
.pagarC{
    background-color: #0A83FC;
}
.pagarC:hover{
    background-color:  #FF4858;
}

.calculapago{
    display: flex;
    color:#0A83FC;
}

.calculapago h2{
    
    width: 100px;
    color:#0A83FC;
}


#contenido{
    top: 0%;
    position: static;
    bottom:5%;
    padding-top: 40px;
    padding-bottom: 60px;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 0px 0px  4px #888;
   
}
#contenido h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}
form{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0,.2);
    padding: 10px 20px 30px;
    border-radius: 30px;
}
input, textarea{
    width: 100%;
    margin-bottom: 7px;
    padding: 5px;
    font-size: 17px;
    border: none;
    font-family: rale;
    border-radius: 5px;
    padding-bottom: 10px;
}
.ubicarIco{
    position: relative;
    text-align: center;
}
.ubicarIco i{
    position: absolute;
    padding: 7px;
}
.ubicarIco input{
    text-align: center;
}


 

.somos{
    padding-top: 50px;
    width: 100%;
    height: 40%;
    text-align: center;
}
.somos img{
   width: 95%;
   height: 750px;
  
}
.somos2{
    padding-left: 50px;
    padding-top: 50px;
    text-align: justify;
    width: 100%;
    display: flex;
    
}
.somos2 div{
    margin-right: 40px;
}

.somos2 figure{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   

}
.somos2 figure img{
    margin-top: 75px;
    height: 600px;
}
.somos2 h2{
    margin: 40px 0px;

}

.menuFondo{
    background-image: url("../../imagenes/pablo/fondoM.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 700px;
    width: 100%;

}
.menuInformacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: white;
    background-color: rgba(10, 131, 252,.2);
    
}
.menuInformacion h2{
    font-size: 35px;
}

.menuInformacion p{
    width: 600px;
    font-size: 25px;
}